{% extends "layout.html" %}
{% block title %}
Add infected
{% endblock %}

{% block body %}
<style>
	h1 {
		font-weight: 100;
	}

	.container-fluid {
		padding: 75px;

	}

	.holder {
		width: 20%;
		margin: auto;
	}

	.infected-form label {
		padding-bottom: 0px;
		margin-bottom: 0px;
		font-size: 9px;
		font-weight: 900;
		text-transform: uppercase;
	}

	.infected-form input {
		width: 100%;
		border: 1px solid #DDD;
		padding: 0px 7px 0px 7px;
		border-radius: 5px;
	}

	.infected-form input:focus {
		outline: none;
	}

	.space-35 {
		height: 35px;
	}

	#face-image-input {
		border: 0;
	}

</style>
<a class="btn btn-xl btn-link" name="button" href="{{ url_for('index') }}">Go back</a>
<div class="container-fluid">

	<h1>Add Infected Patient</h1>
	<hr class="my-4">
	<div class="holder">
		<form class="infected-form" action="{{ url_for('add') }}" method="post" enctype="multipart/form-data">
			<label for="name">Name</label>
			<input type="text" name="name" placeholder="John Doe" value="john doe" required>
			<div class="space-35"></div>
			<label for="phone">Phone Number</label>
			<input type="text" name="phone" placeholder="123 4567 890" value="234890567" required>
			<div class="space-35"></div>
			<label for="image">Face Image</label>
			<input id="face-image-input" type="file" name="image" accept="image/png, image/jpeg" required>
			<button class="w-100 my-4 btn btn-xl btn-success" name="button">Add</button>
		</form>
	</div>
	<hr class="my-4">
	<h1>List</h1>
	<ul>
		{% for person in people %}
		<li>{{ person.name }} | +(52) {{ person.phone }}</li>
		{% endfor %}
	</ul>
</div>
{% endblock%}
