{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}

{% block body %}
<style media="screen">
	.container-fluid {
		padding: 75px;
	}

	.row {
		background-color: red;
	}

</style>
<div class="container-fluid text-center">
	<h1 style="font-weight: 100;" class="my-4">Face recognition and tracking against covid-19</h1>
	<a class="btn btn-xl btn-success" name="button" href="{{ url_for('addinfected') }}">Add infected</a>
	<a class="btn btn-xl btn-warning" name="button" href="{{ url_for('spotted') }}">Spotted infected</a>

</div>
{% endblock %}
